{{ define "main" }}
<div class="home-page">
  <div class="posts-list">
    {{ range .Pages }}
    <article class="post-card">
      <div class="post-content-preview">
        {{ $content := .Content | plainify }}
        {{ $contentLength := len $content }}
        {{ if gt $contentLength 800 }}
          {{ $truncated := $content | truncate 800 }}
          <div class="post-content-full">{{ $truncated }}</div>
          <a href="{{ .Permalink }}" class="read-more">Read more...</a>
        {{ else }}
          <div class="post-content-full">{{ $content }}</div>
        {{ end }}
      </div>
      <div class="post-meta-bottom">
        <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 2, 2006" }}</time>
        {{ if .Params.tags }}
        <div class="post-tags">
          {{ range .Params.tags }}
          <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}" class="tag">#{{ . }}</a>
          {{ end }}
        </div>
        {{ end }}
      </div>
    </article>
    {{ end }}
  </div>
</div>
{{ end }}

